Repository cfernandom/news-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-docs, doc-quality-check

.pre-commit-config.yaml:

# PreventIA News Analytics - Pre-commit Hooks Configuration
# Automated standards compliance for development workflow
# Version: 1.0 - Foundation Implementation

repos:
  # Basic file hygiene and common issues (optimized)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        description: Remove trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-added-large-files
        description: Prevent large files from being committed
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-case-conflict
        description: Check for case conflicts
      - id: mixed-line-ending
        description: Check for mixed line endings

  # Conventional commit message validation (reliable local implementation)
  - repo: local
    hooks:
      - id: conventional-commit-local
        name: Conventional Commit Format Check
        entry: python scripts/check_conventional_commit.py
        language: system
        stages: [commit-msg]
        pass_filenames: true

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        description: Format Python code with Black
        language_version: python3
        args: ['--line-length=88', '--target-version=py312']

  # Import sorting with isort (compatible with Black) - CORRECTED
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        description: Sort Python imports
        args: ['--profile', 'black', '--line-length', '88']

  # Python linting with flake8
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        description: Python linting with flake8
        args:
          - --max-line-length=88
          - --extend-ignore=E203,W503,E501,E402,E302,F401,F541,F841,E128,E722,E712  # Black compatibility + temporary ignores
          - --exclude=venv,build,dist,.git,__pycache__

  # Security scanning with gitleaks (local installation)
  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks
        language: system
        args: ['detect', '--source=.', '-v']
        stages: [pre-commit]

  # Python security scanning with bandit - TEMPORARILY DISABLED (will fix post-commit)
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.7.5
  #   hooks:
  #     - id: bandit
  #       description: Security linting for Python
  #       args: ['-r', '.', '--exclude', 'tests/,venv/,build/,dist/,.git/']
  #       files: ^(services|scripts)/.*\.py$

  # Documentation link checking (integrate existing script)
  - repo: local
    hooks:
      - id: verify-docs
        name: Verify documentation links
        entry: python scripts/verify_docs.py --dry-run
        language: system
        files: ^docs/README\.md$
        pass_filenames: false
        description: Validate documentation links and references

  # Documentation quality checking (integrate existing script)
  - repo: local
    hooks:
      - id: doc-quality-check
        name: Documentation quality check
        entry: python scripts/doc_quality_check.py --severity warning
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
        description: Check documentation quality and standards

# Pre-commit hook configuration
default_stages: [pre-commit]
fail_fast: false
default_language_version:
  python: python3.13

# Exclude patterns
exclude: |
  (?x)^(
    venv/.*|
    build/.*|
    dist/.*|
    \.git/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    \.coverage|
    .*\.egg-info/.*
  )$

docs(claude): add comprehensive legacy prototype implementation context
  CLAUDE.md
Due: none

feat(docs): add detailed REST endpoints specification and legacy prototype implementation strategy
  docs/assets/prototypes/endpoints.md
  docs/implementation/legacy-prototype-implementation-strategy.md
Due: doc-quality-check

feat(deps): add export and authentication dependencies
  requirements.txt
Due: none

feat(api): implement legacy API compatibility layer
  services/api/routers/legacy.py
Due: none

feat(api): add data export functionality
  services/api/routers/exports.py
Due: none

feat(auth): implement JWT-based authentication system
  services/api/routers/auth.py
Due: none

feat(api): integrate legacy API routers into FastAPI app
  services/api/main.py
Due: none

Adds complete technical analysis for legacy prototype
  CLAUDE.md
  docs/implementation/legacy-prototype-analysis.md
  preventia-dashboard/index.html
  preventia-dashboard/src/App.tsx
  preventia-dashboard/src/api/client.ts
  preventia-dashboard/src/components/legacy/Analytics/LegacyGeographicMap.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacySentimentChart.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyTopicsChart.tsx
  preventia-dashboard/src/components/legacy/Common/LegacyCarousel.tsx
  preventia-dashboard/src/components/legacy/Common/LegacyExportModal.tsx
  preventia-dashboard/src/components/legacy/Common/LegacyKPICard.tsx
  preventia-dashboard/src/components/legacy/Layout/LegacyHeader.tsx
  preventia-dashboard/src/components/legacy/Layout/LegacyLayout.tsx
  preventia-dashboard/src/hooks/useLegacyData.ts
  preventia-dashboard/src/pages/legacy/LegacyAnalyticsPage.tsx
  preventia-dashboard/src/pages/legacy/LegacyHomePage.tsx
  preventia-dashboard/src/routes/LegacyRoutes.tsx
  preventia-dashboard/src/styles/legacy/legacy-theme.css
  preventia-dashboard/src/utils/exportUtils.ts
  services/api/routers/legacy.py
Due: doc-quality-check

feat: Add Legacy Filter Bar component and integrate with analytics page
  docs/assets/prototypes/description_legacy.txt
  preventia-dashboard/src/components/legacy/Analytics/LegacyGeographicMap.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyNewsModal.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyNewsTable.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacySentimentChart.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyTopicsChart.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyTrendChart.tsx
  preventia-dashboard/src/components/legacy/Common/LegacyExportHistory.tsx
  preventia-dashboard/src/components/legacy/Common/LegacyFilterBar.tsx
  preventia-dashboard/src/hooks/useLegacyData.ts
  preventia-dashboard/src/pages/legacy/LegacyAnalyticsPage.tsx
  preventia-dashboard/src/styles/legacy/legacy-theme.css
Due: none

docs(production): add comprehensive production deployment roadmap and session handoff notes
  docs/implementation/production-deployment-roadmap.md
  docs/implementation/session-handoff-notes.md
Due: doc-quality-check

docs(claude): update project status to reflect implementation complete but testing required
  CLAUDE.md
Due: none

fix(analytics): geographic and trend data components
  preventia-dashboard/src/components/legacy/Analytics/LegacyGeographicMap.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyTrendChart.tsx
  preventia-dashboard/src/hooks/useLegacyData.ts
Due: none

feat(testing): Add unit tests for LegacySentimentChart, LegacyTopicsChart, and LegacyTrendChart components
  CLAUDE.md
  docs/implementation/legacy-test-suite-summary.md
  docs/implementation/legacy-testing-results.md
  docs/implementation/testing-coverage-dashboard.md
  docs/prompts/fix-legacy-issues-session.md
  preventia-dashboard/package-lock.json
  preventia-dashboard/package.json
  preventia-dashboard/src/components/legacy/__tests__/LegacyExportHistory.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyFilterBar.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyGeographicMap.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyKPICard.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyNewsTable.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacySentimentChart.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyTopicsChart.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyTrendChart.test.tsx
  preventia-dashboard/vitest.config.ts
  tests/integration/test_api/test_legacy_api.py
Due: doc-quality-check

feat(testing): Update project status to production ready; resolve critical issues
  CLAUDE.md
  docs/implementation/critical-issues-resolution-2025-07-03.md
  docs/implementation/production-readiness-summary.md
  preventia-dashboard/src/components/legacy/Analytics/LegacySentimentChart.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacySentimentChart.test.tsx
  services/api/routers/legacy.py
  tests/integration/test_api/test_legacy_api.py
Due: doc-quality-check

docs(implementation): Add comprehensive technical manual for PreventIA Dashboard Legacy
  docs/implementation/manual-tecnico-implementacion-dashboard-legacy.md
Due: doc-quality-check

docs: Update metadata and language for documentation files
  docs/README.md
  docs/architecture/directory-structure.md
  docs/architecture/system-overview.md
  docs/development/standards/automation-compliance.md
  docs/development/standards/documentation-standards.md
  docs/development/standards/language-usage-standard.md
  docs/development/standards/testing-strategy.md
  docs/development/standards/testing-structure.md
Due: verify-docs, doc-quality-check

fix(docker): enhance healthcheck command and update environment variable defaults
  docker-compose.yml
Due: none

fix: update VITE_API_URL to remove redundant path in configuration files
  docker-compose.yml
  docs/implementation/manual-tecnico-implementacion-dashboard-legacy.md
  preventia-dashboard/.env.example
  preventia-dashboard/src/api/client.ts
Due: doc-quality-check

feat(analytics): Enhance legacy analytics components with error handling and data validation
  preventia-dashboard/src/components/legacy/Analytics/LegacyGeographicMap.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyNewsTable.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacySentimentChart.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyTopicsChart.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyTrendChart.tsx
  preventia-dashboard/src/hooks/useLegacyData.ts
  preventia-dashboard/src/pages/legacy/LegacyAnalyticsPage.tsx
  services/api/routers/legacy.py
Due: none

fix(legacy-charts): correct language label display and enhance chart styling
  preventia-dashboard/src/components/legacy/Analytics/LegacySentimentChart.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyTrendChart.tsx
  preventia-dashboard/src/styles/legacy/legacy-theme.css
Due: none

feat(charts): Enhance Legacy Analytics Charts with Improved Data Handling and User Feedback
  preventia-dashboard/src/components/legacy/Analytics/LegacyGeographicMap.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyNewsTable.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacySentimentChart.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyTopicsChart.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyTrendChart.tsx
  preventia-dashboard/src/pages/legacy/LegacyAnalyticsPage.tsx
Due: none

feat(legacy-charts): Add subtitle support and enhance styling for legacy charts
  preventia-dashboard/src/App.tsx
  preventia-dashboard/src/components/charts/TopicsChart.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyGeographicMap.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacySentimentChart.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyTopicsChart.tsx
  preventia-dashboard/src/components/legacy/Analytics/LegacyTrendChart.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyGeographicMap.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacySentimentChart.test.tsx
  preventia-dashboard/src/components/tables/ArticlesDataTable.tsx
  preventia-dashboard/src/hooks/useLegacyData.ts
  preventia-dashboard/src/main.tsx
  preventia-dashboard/src/pages/legacy/LegacyAnalyticsPage.tsx
  preventia-dashboard/src/styles/legacy-charts.css
Due: none

fix(legacy-analytics): Update NewsItem interface to enforce required fields and improve date handling
  preventia-dashboard/src/pages/legacy/LegacyAnalyticsPage.tsx
Due: none

fix(legacy-analytics): Comment out LegacyFilterBar components and related sections for debugging
  preventia-dashboard/src/pages/legacy/LegacyAnalyticsPage.tsx
Due: none

feat(exports): Implement PDF report generation with comprehensive analytics data
  requirements.txt
  services/api/routers/exports.py
Due: none

docs: Update legacy prototype analysis with implemented export endpoints and functionality status
  docs/implementation/export-functionality-complete-2025-07-04.md
  docs/implementation/legacy-prototype-analysis.md
Due: doc-quality-check

feat: Add News Sources Management API with compliance validation
  docs/implementation/news-sources-administration-plan-2025-07-04.md
  services/api/main.py
  services/api/routers/sources.py
  services/data/database/migrations/002_add_compliance_fields.sql
  services/data/database/models.py
  services/scraper/src/compliance/robots_checker.py
Due: doc-quality-check

feat: Add Medical and Sources API Clients
  docs/implementation/scraping-strategy-new-sources-2025-07-04.md
  preventia-dashboard/package-lock.json
  preventia-dashboard/package.json
  preventia-dashboard/src/App.tsx
  preventia-dashboard/src/components/admin/ComplianceDashboard.tsx
  preventia-dashboard/src/components/admin/ComplianceMonitor.tsx
  preventia-dashboard/src/components/admin/ComplianceStatusHeader.tsx
  preventia-dashboard/src/components/admin/ComplianceStatusIndicator.tsx
  preventia-dashboard/src/components/admin/SourceConfigModal.tsx
  preventia-dashboard/src/components/admin/SourcesTable.tsx
  preventia-dashboard/src/components/auth/LoginForm.tsx
  preventia-dashboard/src/components/auth/ProtectedRoute.tsx
  preventia-dashboard/src/components/auth/UserMenu.tsx
  preventia-dashboard/src/components/ui/alert.tsx
  preventia-dashboard/src/components/ui/badge.tsx
  preventia-dashboard/src/components/ui/button.tsx
  preventia-dashboard/src/components/ui/card.tsx
  preventia-dashboard/src/components/ui/dialog.tsx
  preventia-dashboard/src/components/ui/input.tsx
  preventia-dashboard/src/components/ui/label.tsx
  preventia-dashboard/src/components/ui/select.tsx
  preventia-dashboard/src/components/ui/table.tsx
  preventia-dashboard/src/components/ui/textarea.tsx
  preventia-dashboard/src/contexts/AuthContext.tsx
  preventia-dashboard/src/hooks/useMedicalData.ts
  preventia-dashboard/src/index.css
  preventia-dashboard/src/pages/admin/AdminLayout.tsx
  preventia-dashboard/src/pages/admin/AdminPage.tsx
  preventia-dashboard/src/pages/admin/SourcesAdminPage.tsx
  preventia-dashboard/src/services/api.ts
  preventia-dashboard/src/services/medical-api.ts
  preventia-dashboard/src/services/sources-api.ts
  preventia-dashboard/src/styles/admin-theme.css
  preventia-dashboard/tailwind.config.js
  preventia-dashboard/tsconfig.app.json
  preventia-dashboard/vite.config.ts
Due: doc-quality-check

fix(tests): Update test cases to use correct test IDs for Recharts components fix(legacy): Simplify cutoff date calculations in legacy API endpoints
  preventia-dashboard/src/components/legacy/__tests__/LegacySentimentChart.test.tsx
  services/api/routers/legacy.py
Due: none

feat(deploy): add production configuration and comprehensive tests
  .env.production.template
  Dockerfile.api.prod
  config/monitoring.yml
  config/nginx.prod.conf
  config/redis.conf
  docker-compose.prod.yml
  gemini.md
  preventia-dashboard/tests/e2e/comprehensive-e2e.test.js
  scripts/optimize_database.py
  scripts/run_production_tests.sh
  services/data/database/optimized_queries.py
  tests/integration/test_api/test_comprehensive_api.py
  tests/performance/test_api_performance.py
Due: none

feat(docs): add deployment manual for PreventIA News Analytics Platform
  docs/deployment/manual-tecnico-produccion.md
Due: doc-quality-check

feat: refactor LoginForm component with new styling and structure
  preventia-dashboard/src/components/auth/LoginForm.tsx
Due: none

docs: update project documentation and status
  DEPLOYMENT.md
  README.md
  gemini.md
Due: none

feat(docs): add Docker setup documentation for development environment
  docs/README.md
  docs/development/setup/docker-setup.md
Due: verify-docs, doc-quality-check

Refactor: Apply admin-theme styles to ComplianceDashboard.tsx
  preventia-dashboard/src/components/admin/ComplianceDashboard.tsx
Due: none

feat: Translate admin UI to Spanish
  preventia-dashboard/src/components/admin/ComplianceDashboard.tsx
  preventia-dashboard/src/components/admin/ComplianceMonitor.tsx
  preventia-dashboard/src/components/admin/ComplianceStatusHeader.tsx
  preventia-dashboard/src/components/admin/ComplianceStatusIndicator.tsx
  preventia-dashboard/src/components/admin/SourceConfigModal.tsx
  preventia-dashboard/src/components/admin/SourcesTable.tsx
  preventia-dashboard/src/components/auth/LoginForm.tsx
  preventia-dashboard/src/components/auth/ProtectedRoute.tsx
  preventia-dashboard/src/components/auth/UserMenu.tsx
  preventia-dashboard/src/pages/admin/AdminLayout.tsx
  preventia-dashboard/src/pages/admin/SourcesAdminPage.tsx
Due: none

fix(tests): resolve TypeScript build errors in legacy component tests
  preventia-dashboard/package.json
  preventia-dashboard/src/components/admin/SourceConfigModal.tsx
  preventia-dashboard/src/components/legacy/Common/LegacyExportHistory.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyExportHistory.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyFilterBar.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyGeographicMap.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyKPICard.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyNewsTable.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyTopicsChart.test.tsx
  preventia-dashboard/src/components/legacy/__tests__/LegacyTrendChart.test.tsx
  preventia-dashboard/tests/utils/test-setup.ts
  preventia-dashboard/tsconfig.app.json
Due: none

feat: implement complete automated scraper generation system
  docs/implementation/automated-scraper-generation-system.md
  scripts/generate_sample_scraper.py
  scripts/test_automation_api.py
  scripts/test_automation_batch.py
  scripts/test_scraper_automation.py
  services/api/main.py
  services/api/routers/automation.py
  services/scraper/automation/__init__.py
  services/scraper/automation/compliance_validator.py
  services/scraper/automation/models.py
  services/scraper/automation/scraper_generator.py
  services/scraper/automation/structure_analyzer.py
  services/scraper/automation/template_engine.py
  services/scraper/automation/testing_framework.py
Due: doc-quality-check

docs: Update project documentation to reflect current status
  README.md
  docs/architecture/system-overview.md
  docs/conversations/README.md
  docs/implementation/README.md
  docs/implementation/legacy-dashboard-implementation.md
Due: doc-quality-check

feat: add 4 new PostgreSQL scraper extractors and fix test database configuration
  services/scraper/src/extractors/breastcancernow_org_postgres.py
  services/scraper/src/extractors/medicalxpress_com_postgres.py
  services/scraper/src/extractors/www_nature_com_postgres.py
  services/scraper/src/extractors/www_sciencedaily_com_postgres.py
  tests/conftest.py
Due: none
