Repository cfernandom/news-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-docs, doc-quality-check

verify-docs:
  name: Verify documentation links
  entry: python scripts/verify_docs.py --dry-run
  language: system
  pass_filenames: false
  description: Validate documentation links and references

doc-quality-check:
  name: Documentation quality check
  entry: python scripts/doc_quality_check.py --severity warning
  language: system
  pass_filenames: false
  description: Check documentation quality and standards

fix: resolve Docker health checks and performance test configuration
  docker-compose.yml
  tests/performance/test_api_performance.py
Due: none

feat(docs): update CLAUDE.md and README.md with completed phase 4 details and legacy components status
  CLAUDE.md
  README.md
  docs/README.md
Due: verify-docs, doc-quality-check

fix: resolve Pydantic v2 compatibility and database import issues
  services/api/auth/models.py
  services/api/auth/startup.py
  services/api/routers/auth.py
Due: none

feat(cli): implement comprehensive CLI framework for system automation
  cli/EXAMPLES.md
  cli/README.md
  cli/__init__.py
  cli/base.py
  cli/completion/preventia-cli-completion.bash
  cli/compliance_cli.py
  cli/main.py
  cli/scraper_cli.py
  cli/source_cli.py
  cli/user_cli.py
  preventia-cli
  setup_cli.py
Due: none

feat(auth): implement comprehensive JWT-based authentication system with RBAC
  services/api/auth/__init__.py
  services/api/auth/dependencies.py
  services/api/auth/jwt_handler.py
  services/api/auth/password_utils.py
  services/api/auth/role_manager.py
  services/api/main.py
  services/data/database/models.py
Due: none

feat(database): implement comprehensive source administration schema migration
  services/data/database/migrations/002_source_administration.sql
Due: none

feat(testing): implement comprehensive integration test suite with automation
  tests/integration/README.md
  tests/integration/test_auth_integration.py
  tests/integration/test_cli_integration.py
  tests/integration/test_data_pipeline_integration.py
  tests/integration/test_end_to_end_validation.py
  tests/integration/test_system_integration.py
  tests/run_integration_tests.py
Due: none

feat(automation): implement intelligent source discovery and scraper generation system
  scripts/discover_sources.py
  scripts/generate_scraper.py
  services/scraper/automation/models.py
  services/scraper/automation/source_discoverer.py
Due: none

docs: comprehensive documentation updates for completed automation framework
  CLAUDE.md
  docs/README.md
  docs/api/schemas/source-administration-schemas.md
  docs/api/services/analytics-api.md
  docs/api/services/auth-api.md
  docs/api/services/scraper-api.md
  docs/architecture/data-flow.md
  docs/architecture/directory-structure.md
  docs/architecture/tech-stack.md
  docs/development/guides/adding-extractors.md
  docs/development/guides/database-migrations.md
  docs/development/guides/debugging-pipeline.md
  docs/development/setup/environment-variables.md
  docs/operations/deployment/production-deployment.md
  docs/operations/monitoring/logging-strategy.md
Due: verify-docs, doc-quality-check

docs: update main documentation with News Sources Administration discovery
  CLAUDE.md
  docs/README.md
  docs/implementation/README.md
  docs/implementation/development-strategy-phase-6-revised.md
  docs/implementation/development-strategy-phase-6.md
  docs/implementation/news-sources-integration-test-results-2025-07-07.md
  docs/implementation/news-sources-status-update-2025-07-07.md
  docs/implementation/system-verification-2025-07-07.md
Due: verify-docs, doc-quality-check

docs: comprehensive audit and documentation of all pending tasks
  CLAUDE.md
  docs/implementation/README.md
  docs/implementation/pending-tasks-comprehensive-2025-07-07.md
Due: doc-quality-check

fix(tech-debt): migrate to Pydantic V2 and fix datetime deprecation warnings
  services/api/auth/jwt_handler.py
  services/api/auth/models.py
  services/api/auth/startup.py
  services/api/routers/auth.py
  services/scraper/automation/models.py
Due: none

fix(api): implement proper country detection in timeline summary endpoint
  services/api/routers/legacy.py
Due: none

feat(automation): implement comprehensive date parsing for template engine
  services/data/database/connection.py
  services/scraper/automation/template_engine.py
Due: none

style: apply black formatter and fix trailing whitespace
  services/data/database/connection.py
  services/scraper/automation/template_engine.py
Due: none

feat(export): implement comprehensive chart export functionality
  services/api/routers/exports.py
Due: none

docs: update comprehensive pending tasks documentation with Session 1-3 results
  docs/implementation/pending-tasks-comprehensive-2025-07-07.md
Due: doc-quality-check

docs: add comprehensive final status report - enterprise-ready system achieved
  docs/implementation/final-status-report-2025-07-07.md
Due: doc-quality-check

feat(automation): enhance template engine with comprehensive CMS-specific patterns
  services/scraper/automation/template_engine.py
Due: none

test(automation): implement comprehensive automation testing suite
  tests/integration/test_automation/__init__.py
  tests/integration/test_automation/test_automation_api.py
  tests/integration/test_automation/test_automation_workflows.py
  tests/unit/test_automation/__init__.py
  tests/unit/test_automation/test_automation_models.py
Due: none

feat(automation): enhance automation services with testing framework
  services/api/routers/automation.py
  services/scraper/automation/scraper_generator.py
  services/scraper/automation/source_discoverer.py
  services/scraper/automation/template_engine.py
  services/scraper/automation/testing_framework.py
Due: none

docs(automation): add comprehensive automation testing documentation
  docs/implementation/automation-testing-implementation.md
Due: doc-quality-check

docs: update project documentation with automation testing achievements
  CLAUDE.md
  docs/README.md
  docs/development/standards/testing-strategy.md
  docs/implementation/final-status-report-2025-07-07.md
Due: verify-docs, doc-quality-check

chore: apply pre-commit hooks formatting
  scripts/check_conventional_commit.py
  scripts/compliance_review_helper.py
  scripts/doc_quality_check.py
  services/api/routers/analytics.py
  tests/scrapers/test_phase1_scraper.py
  tests/scrapers/test_scraper_framework.py
Due: none

docs: update system status and implementation completion details in CLAUDE.md
  CLAUDE.md
Due: none

fix(deps): add missing dependencies for API
  requirements.txt
Due: none

fix(auth): correct login request field mapping
  preventia-dashboard/src/contexts/AuthContext.tsx
Due: none

fix(auth): update role checking logic in ProtectedRoute and improve user role management in login feat(demo): add script to create demo users for admin dashboard
  preventia-dashboard/src/components/auth/ProtectedRoute.tsx
  preventia-dashboard/src/contexts/AuthContext.tsx
  scripts/create_demo_users.py
  services/api/routers/auth.py
Due: none

Add troubleshooting and FAQ module, screenshots README, and manual expansion prompt
  docs/product/manual-tecnico-academico.md
  docs/product/manual-usuario-estrategia-modular.md
  docs/product/manual-usuario/indice-principal.md
  docs/product/manual-usuario/modulos/01-introduccion-primeros-pasos.md
  docs/product/manual-usuario/modulos/02-analisis-sentimientos.md
  docs/product/manual-usuario/modulos/03-gestion-fuentes-noticias.md
  docs/product/manual-usuario/modulos/04-exportacion-reportes.md
  docs/product/manual-usuario/modulos/05-analisis-geografico-temporal.md
  docs/product/manual-usuario/modulos/06-troubleshooting-faq.md
  docs/product/manual-usuario/screenshots/README.md
  docs/prompts/manual-expansion-prompt.md
Due: doc-quality-check

docs: update project documentation and priorities after Phase 1 completion
  CLAUDE.md
  PROJECT_STATUS_ANALYSIS.md
  SESSION_HANDOFF_2025-07-14.md
Due: none

update docs
  CLAUDE.md
  PROJECT_STATUS_ANALYSIS.md
  SESSION_HANDOFF_2025-07-14_PHASE2.md
Due: none

feat: complete E2E validation and update documentation to reflect 95% MVP completion
  CLAUDE.md
  PROJECT_STATUS_ANALYSIS.md
  SESSION_HANDOFF_2025-07-14_FINAL.md
  SESSION_HANDOFF_2025-07-14_PHASE3.md
  e2e_validation.sh
  services/data/database/models.py
Due: none

fix: complete ComplianceAuditLog schema in database migration
  services/data/database/migrations/002_source_administration.sql
Due: none

feat: add fresh database initialization script
  init_fresh_database.sh
Due: none

test: add comprehensive fresh database testing tools
  fresh_database_test.sh
  quick_system_check.sh
  restore_sources.py
  restore_sources_complete.py
  restore_sources_simple.py
  sources_backup.json
Due: none

docs: add comprehensive testing and deployment documentation
  FRESH_DATABASE_TEST_RESULTS.md
  MANUAL_TESTING_CHECKLIST.md
  SOURCE_RECREATION_GUIDE.md
Due: none

docs: update project status to 97% MVP completion post fresh database validation
  CLAUDE.md
  PROJECT_STATUS_ANALYSIS.md
Due: none

docs: add comprehensive API documentation
  docs/prototype/contenido_verificado_preventia.md
  docs/prototype/dashboard_v0.1.html
  docs/prototype/estructura_investigacion.md
  docs/prototype/metodologia_procesamiento.md
Due: doc-quality-check

feat: add Python package structure and project utilities
  .env.example
  __init__.py
  requirements.txt
  scripts/__init__.py
  services/__init__.py
  services/data/__init__.py
  services/nlp/__init__.py
  services/orchestrator/__init__.py
  services/scraper/__init__.py
  services/shared/__init__.py
  services/shared/config/__init__.py
  services/shared/config/settings.py
  services/shared/exceptions/__init__.py
  services/shared/exceptions/base.py
  tests/__init__.py
  utils.py
Due: none

Path conditions:
  verify-docs: any of: ^docs/README\.md$, but not: (?x)^(
  venv/.*|
  build/.*|
  dist/.*|
  \.git/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.coverage|
  .*\.egg-info/.*
)$

  doc-quality-check: any of: ^docs/.*\.md$, but not: (?x)^(
  venv/.*|
  build/.*|
  dist/.*|
  \.git/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.coverage|
  .*\.egg-info/.*
)$

